* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f8fafc;
  color: #1e293b;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html{
  scroll-behavior:smooth;
}

::selection{
  background:#2563eb;
  color:white;
}

